@import "tailwindcss";
@theme{
    --font-sans:'myfont', sans-serif;
}
@layer base{
    @font-face{
        font-family: 'myfont';
        src :url(/fonts/ShanHaiJiangNanLi45W-2.woff)format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    html{
        font-family:var(--font-sans);
    }
}