@import "tailwindcss";
@theme{
    --font-sans:'myfont', sans-serif;
}
@layer base{
    @font-face{
        font-family: 'myfont';
        src :url('https://asset.lopop.top/public/fonts/ShanHaiJiangNanLi45W-2.woff')format('woff');
        font-weight: normal;
        font-style: normal;
    }
    html{
        font-family:var(--font-sans);
    }
    @layer utilities {
        @keyframes ping-slow {
          0%, 100% {
            opacity: 0.4;
          }
          50% {
            opacity: 1;
          }
        }
      
        .animate-ping-slow {
          animation: ping-slow 1.2s ease-in-out infinite;
        }
    }
}